
/target/*
!target/deploy/
!target/idl/
!target/types/


target/deploy/*.so


!target/deploy/token-devnet-keypair.json
!target/idl/token-devnet.json
!target/types/token-devnet.ts


.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.yarn